
/* --- MOBILE STYLES --- */
.page {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.owenAllen {
  width: 150px; 
  height: auto;
}

h1 {
  font-size: 1.5rem;
  margin-top: 20px;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  max-width: 100%; 
}

.page section {
  width: 100%;
}

.section1 {
  background-color: pink;
}

.section2 {
}
.section2 video {
  width: 100%;
}

.section3 video {
  width: 100%;
}

.rusty {
height: 250px;
}

.kavoslogo{
width: 100%;
}

.twinhead {
  width: 400px;
}



